<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <header>
        <h1>Weather App</h1>
    </header>
    <main>
        <form id="weather-form">
            <input type="text" id="city-input" placeholder="Enter city name" required>
            <button type="submit" id="search-button">
                <img src="/static/images/search-icon.png" alt="Search Icon" class="search-icon" />
            </button>
        </form>
        <section id="weather-result"></section>
    </main>
    <script src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</body>
<footer class="footer">
    <p>
        Icons made by 
        <a href="https://www.flaticon.com/authors/freepik" title="Author Name">Freepik</a> 
        from <a href="https://www.flaticon.com/" title="Flaticon">Flaticon</a>.
    </p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/aristotle-temmerath" target="_blank" title="LinkedIn">
            <img src="/static/images/linkedin.png" alt="LinkedIn Icon" class="social-icon">
        </a>
        <a href="https://github.com/thekalvpsia" target="_blank" title="GitHub">
            <img src="/static/images/github.png" alt="GitHub Icon" class="social-icon">
        </a>
    </div>
</footer>
</html>
